{% extends "base.html" %}
{% block content %}
 <center>
    <form action="/schedule" method="POST">
       <font color = #FFFFFF> Telescope: </font>
       <select name="telescope">
       <option value="ashtarut" selected="selected">Ashtarut</option>
       <option value="astarte">Astarte</option>
       </select>
   <font color = #FFFFFF> Start Time: </font> 
    <input type="time", value="00:00:00", name="starttime">
   <font color = #FFFFFF> End Time: </font>
    <input type="time", value="00:00:00", name="endtime">
    <button type="submit">Schedule Time</button>
    </form><br>
    <h2> All reserved times for May 2016</h2>
     <div id="renderCalendar"></div>
     
<table border="0" cellpadding="0" cellspacing="0" class="month">
</table>
</center>
{% endblock %}