{% extends "base.html" %}
{% block content %}
 <center>
    <form action="/schedule" method="POST">
       <font color = #FFFFFF> Telescope: </font>
       <select name="telescope">
       <option value="ashtarut" selected="selected">Ashtarut</option>
       <option value="astarte">Astarte</option>
       </select>
   <font color = #FFFFFF> Start Time: </font>
    <input type="time", value="00:00:00", name="starttime">
   <font color = #FFFFFF> End Time: </font>
    <input type="time", value="00:00:00", name="endtime">
    <button type="submit">Schedule Time</button>
    </form><br>
    <h2> Ashtarut | Astarte | Spectrometer</h2><p>
    <link rel="import" href="renderCal.html">
    {% block calendar %}
    {% endblock %}
  </p>
</center>
{% endblock %}
