{% extends "base.html" %}
{% block content %}
<center>   
<h1>Welcome to the Guilford College Radio Telescope</h1>
</center>
<p class="blocktext"> The Guilford College Radio Telescopes, Ashtarte and 
Astarte are projects which have been taken on by Guilford College to do solar
observations, observations of the galactic plane, demonstrations for students
 and whatnot. Honestly a lot of this is just filled until a more professional
 description is made. This will be for people who just want a brief rundown of
what the radio telescopes are/ what their origins are.</p>
<div> <h1> Requirements </h1></div>
<ol><b><h2>
	<li> Account must be made by contacting Don Smith <i>(dsmith4@guilford.edu)</i></li>
	<li> Must be using Linux or have X11 (<a href= "http://www.xquartz.org/">OS X Download</a>)</li>
	<li> <i> Please use responsibly </i></li>
</b></ol> </h2>
</p>

{% endblock %}
