{% extends "base.html" %}
{% block content %}
<center>
   <br><br>
     <h1>My Current Reserved Times</h1>
{% if reservedAshtarut or reservedAstarte %}
    {% if reservedAshtarut %}
        <h2>Reserved on Ashtarut</h2>
        {% for r in reservedAshtarut.query.filter_by(user_id = current_user.get_id()) %}
	    <p> {{ r.starttime.strftime("%B %Y: %A %d, at %I:00 %p") }} to {{ r.endtime.strftime("%I:00 %p") }}</p>
        {% endfor %}
    {% endif %}
    {% if reservedAstarte %}
     <h2>Reserved on Astarte</h2>
    {% for r in reservedAstarte %}
        {% if r.user_id == current_user.id %}
           <p> {{ r.time.strftime("%B %Y: %A %d, at %I:00 %p") }} to o {{ r.endtime.strftime("%I:00 %p") }}</p>
        {% endif %}
    {% endfor %}
    {% endif %}
{% else %}
   <i><p> No Current Reserved Times</p> </i><br>
{% endif %}
 <!--   <h2> Current Waitlist</h2>
{% if waitlist %}
    {% for w in waitlist %}
        <div><p>{{ waitlist.priority }} on the waitlist for <b>{{ waitlist.waitlist }}</b> on the telescope <b>{{ waitlist.telescope }}</b><br>
        <i>currently held by {{waitlist.holder.username}} </i></p><br></div>
    {% endfor %}
{% else %}
    <i><p> No waitlist items</p></i>
{% endif %} --><br><br>
    <i> <a href="/calendar"> Schedule a time? </a> </i>
</center>
{% endblock %}
